@import url('./home.css');

:root {
  --color-backgrond: #D9D9D9;
  --color-primary: #3B92F6;
  --color-text: #0D1321;
  --color-green: #60AB9A;
  --color-red: #D1495B;
  --color-yellow: #FAA916;
  --color-white: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  background: var(--color-backgrond);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Saira";
  src: url("/public/fonts/Saira-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url("/public/fonts/Saira-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; 
}